.header{
  margin: 0;
  width: 100%;
  height: 8vh;
  /*border: 1px solid black;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Source Sance Pro SemiBold", Serif;
}

p{
  width: fit-content;

}

img{
  width: 32px;
  margin: 0 5px;
}

.currency{
  display: flex;
  align-items: center;
  margin-right: 50px;
}
