<app-global-error></app-global-error>
<div class="page">
  <app-header class="header" [USD_currency]="USD_currency" [EUR_currency]="EUR_currency"></app-header>

  <div class="content">
    <h1>Конвертер валют</h1>
    <div class="value">
      <input type="text" [formControl]="input1" (input)="onInputChange(input1)" pattern="[0-9]*">
      <select class="drop-down" [(ngModel)]="selectedCurrency1" (ngModelChange)="onSelect1Change(selectedCurrency1)">
        <option> UAH</option>
        <option> USD</option>
        <option> EUR</option>
      </select>
      <img src={{selectedCurrency1_image}} alt="">
    </div>

    <button  (click)="changePlaces()">
      <img src="./assets/change-7.svg" alt=""/>
    </button>

    <div class="value">
      <input type="text" [formControl]="input2" (input)="onInputChange(input2)">
      <select class="drop-down" [(ngModel)]="selectedCurrency2" (ngModelChange)="onSelect2Change(selectedCurrency2)">
        <option> UAH<img src="./assets/Ukraine.png" alt=""> </option>
        <option> USD<img src="./assets/USA.png" alt=""></option>
        <option> EUR<img src="./assets/European%20union.png" alt=""></option>
      </select>
      <img src={{selectedCurrency2_image}} alt="">
    </div>

  </div>
</div>


