body{
  margin: 0;
  padding: 0;
  font-family: Source Sance Pro, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Source Sance Pro;
  src: url(./assets/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: Source Sance Pro Light;
  src: url(./assets/SourceSansPro-Light.ttf);
}

@font-face {
  font-family: Source Sance Pro SemiBold;
  src: url(./assets/SourceSansPro-SemiBold.ttf);
}
